__python__
__pycache__
cldf/.transcription-report.json
*.egg-info
.gitignore
raw/barlowkilliantomoip/
raw/base-sources.bib
raw/berrywestpapuan/
raw/blumpanotacana/
raw/cals/
raw/carvalhopurus/
raw/chaconbaniwa/
raw/dunnielex/
raw/duplicates.md
raw/kochtukanoan/
raw/lionnetyotonahua/
raw/liunewari/
raw/liusinitic/
raw/nagarajakhasian/
raw/ndanda/
raw/papuanvoices/
raw/sagartst/
raw/savelyevturkic/
raw/sawkatokaleya/
raw/seifartecheverriboran/
raw/sidwellbahnaric/
raw/simsrma/
raw/sources.bib
raw/tolmiebritishcolumbia/
raw/tryonsolomon/
raw/zhaobai/
raw/leeainu/
raw/aaleykusunda/
raw/abrahammonpa/
raw/abvdoceanic/
raw/abvdphilippines/
raw/allenbai/
raw/backstromnorthernpakistan/
raw/baf2/
raw/bantubvd/
raw/barlowlote/
raw/beidasinitic/
raw/blustaustronesian/
raw/bodtkhobwa/
raw/bowernpny/
raw/bremerberta/
raw/castrosui/
raw/castroyi/
raw/castrozhuang/
raw/chacolanguages/
raw/chenhmongmien/
raw/chindialectsurvey/
raw/clarkkimmun/
raw/dhakalsouthwesttibetic/
raw/gerarditupi/
raw/gravinachadic/
raw/halenepal/
raw/hantganbangime/
raw/hattorijaponic/
raw/heathdogon/
raw/hsiuhmongmien/
raw/hubercolumbian/
raw/huntergatherer/
raw/idssegmented/
raw/ivanisuansu/
raw/johanssonsoundsymbolic/
raw/kesslersignificance/
raw/keypano/
raw/kraftchadic/
raw/lairgyalrong/
raw/lamanisoic/
raw/leecaijia/
raw/leejaponic/
raw/leekoreanic/
raw/lindseyende/
raw/listsamplesize/
raw/luangthongkumkaren/
raw/mannburmish/
raw/marrisonnaga/
raw/mitterhoferbena/
raw/mixtecansubgrouping/
raw/naganorgyalrongic/
raw/northeuralex/
raw/northperulex/
raw/oskolskayatungusic/
raw/othanieljen/
raw/polyglottaafricana/
raw/robbeetstriangulation/
raw/robinsonap/
raw/servamalagasy/
raw/sohartmannchin/
raw/spagnolmaltese/
raw/suntb/
raw/tls/
raw/transnewguineaorg/
raw/tuled/
raw/vanuatuvoices/
raw/visserkalamang/
raw/walworthpolynesian/
raw/wangbai/
raw/wold/
raw/yanglalo/
raw/yangyi/
raw/yuchinese/
raw/zgraggenmadang/
raw/zhoubizic/

